<footer id="footer" style="background-color: #FFF;">

    <div class="container footer-mobile-2">

        <!-- Footer Widgets
        ============================================= -->
        <div class="footer-widgets-wrap clearfix" style="padding: 20px !important;">
            <div class="row clearfix footer-hp">

                <div class="col-md-3 col-sm-12">

                    <div class="widget clearfix">
                        <div class="row clearfix">
                            <div class="col-md-8 bottommargin-sm clearfix" style="color:#888; width: 100%">
                                <img src="/img/Logo2.png"><br><br>
                                <p class="nobottommargin" style="color: #444444; font-size: 9px">Copyright ©2018 BabyBellyFitness. Alle Rechte vorbehalten.</p>
                                <a href="/agb" style="color: black">AGB</a><br>
                                <a href="/datenschutz" style="color: black">Datenschutz & Haftungsausschluss</a><br>
                                <a href="/nzv" style="color: black">Nutzungsvereinbarung</a><br>
                                <a href="/impressum" style="color: black">Impressum</a><br><br>


                                <a href="https://www.facebook.com/BabyBellyFitness" class="social-icon si-small si-borderless si-colored si-rounded si-facebook">
                                    <i class="icon-facebook"></i>
                                    <i class="icon-facebook"></i>
                                </a>

                                <a href="https://www.instagram.com/babybellyfitness/?hl=de" class="social-icon si-small si-borderless si-colored si-rounded si-instagram">
                                    <i class="icon-instagram2"></i>
                                    <i class="icon-instagram2"></i>
                                </a>

                                <a href="https://www.youtube.com/channel/UCFUCXXfcxvYRTop0lemCRnw" class="social-icon si-small si-borderless si-colored si-rounded si-youtube">
                                    <i class="icon-youtube"></i>
                                    <i class="icon-youtube"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <hr class="display-aus-monitor display-aus footer-ipad-anpassung-display footer-ipad-anpassung-abstand" color="#444444">
                </div>


                <div class="col-md-9">
                    <div class="row clearfix" >

                        <div class="col-md-4 col-sm-4 ipad-landscape-footer">
                            <div class="widget widget_links app_landing_widget_link clearfix">
                                <br><h4 class="footer-ipad-anpassung footer-ipad-anpassung-margin" style="color: #AE9A64">Unternehmen</h4>

                                <ul>
                                    <li><a href="/about">Unser Team</a></li>
                                    <li><a href="/our-story">Unsere Geschichte</a></li>
                                    <li><a href="/our-vision">Unsere Vision</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 ipad-landscape-footer-2">
                            <div class="widget widget_links app_landing_widget_link clearfix">
                                <br><h4 class="footer-ipad-anpassung footer-ipad-anpassung-margin" style="color: #AE9A64">Info</h4>

                                <ul>
                                    <!--<li><a href="/fsp">Geschäftskunde</a></li>-->
                                    <li><a href="/faq">FAQ</a></li>
                                    <li><a href="/contact">Kontaktiere Uns</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 ipad-landscape-footer-3">
                            <div class="widget widget_links app_landing_widget_link clearfix">
                                <br><h4 class="footer-ipad-anpassung footer-ipad-anpassung-margin" style="color: #AE9A64">Magazin & Events</h4>

                                <ul class="footer-abstand-uni">
                                    <li><a href="/personaltraining-darmstadt">Personal Training</a></li>
                                    <li><a href="/blog">Blog</a></li>
                                    <li><a href="/how-to#section-Equipment">Equipment</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <div class="center">


            </div>
        </div>

    </div>

    <div class="container footer-mobile" style="display: none">

        <!-- Footer Widgets
        ============================================= -->
        <div class="footer-widgets-wrap clearfix" style="padding: 20px 0">
            <div class="row clearfix">

                <div class="col-md-5" style="margin-bottom: -40px">

                    <div class="widget clearfix">
                        <div class="row clearfix">
                            <div class="col-md-8 bottommargin-sm clearfix" style="color:#888;">

                                <div class="col-md-6">

                                    <img src="/img/Logo2.png"><br><br>
                                    <a href="/agb" style="color: black">AGB</a><br>
                                    <a href="/datenschutz" style="color: black">Datenschutz & Haftungsausschluss</a><br>
                                    <a href="/nzv" style="color: black">Nutzungsvereinbarung</a><br>
                                    <a href="/impressum" style="color: black">Impressum</a><br><br>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-7">
                    <div class="row clearfix">

                        <div class="col-md-6 bottommargin-lg">

                            <a style="width: 50px;height: 50px;font-size: 21px;line-height: 47px !important;" href="https://www.facebook.com/BabyBellyFitness" class="social-icon si-small si-borderless si-colored si-rounded si-facebook">
                                <i class="icon-facebook"></i>
                                <i class="icon-facebook"></i>
                            </a>

                            <a style="position: relative; left: 50px; width: 50px;height: 50px;font-size: 21px;line-height: 47px !important;" href="https://www.instagram.com/babybellyfitness/?hl=de" class="social-icon si-small si-borderless si-colored si-rounded si-instagram">
                                <i class="icon-instagram2"></i>
                                <i class="icon-instagram2"></i>
                            </a>

                            <a style="position: relative; left: 100px; width: 50px;height: 50px;font-size: 21px;line-height: 47px !important;" href="https://www.youtube.com/channel/UCFUCXXfcxvYRTop0lemCRnw" class="social-icon si-small si-borderless si-colored si-rounded si-youtube">
                                <i class="icon-youtube"></i>
                                <i class="icon-youtube"></i>
                            </a>

                        </div>

                        <div class="toggle toggle-border">
                            <div class="togglet" style="color: #AE9A64"><i style="color: black; line-height: 2em" class="toggle-closed icon-ok-circle"></i><i style="color: black; line-height: 30px" class="toggle-open icon-remove-circle"></i>Unternehmen</div>
                            <div class="togglec">
                                <ul>
                                    <li><a href="/about">Unser Team</a></li>
                                    <li><a href="/our-story">Unsere Geschichte</a></li>
                                    <li><a href="/our-vision">Unsere Vision</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="toggle toggle-border">
                            <div class="togglet" style="color: #AE9A64"><i style="color: black; line-height: 2em" class="toggle-closed icon-ok-circle"></i><i style="color: black; line-height: 30px" class="toggle-open icon-remove-circle"></i>Info</div>
                            <div class="togglec">
                                <ul>
                                    <li><a href="/fsp">Geschäftskunde</a></li>
                                    <li><a href="/faq">FAQ</a></li>
                                    <li><a href="/contact">Kontaktiere Uns</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="toggle toggle-border">
                            <div class="togglet" style="color: #AE9A64"><i style="color: black; line-height: 2em" class="toggle-closed icon-ok-circle"></i><i style="color: black; line-height: 30px" class="toggle-open icon-remove-circle"></i>Magazin & Events</div>
                            <div class="togglec">
                                <ul>
                                    <li><a href="/personaltraining-darmstadt">Personal Training</a></li>
                                    <li><a href="/blog">Blog</a></li>
                                    <li><a href="/how-to#section-Equipment">Equipment</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="center">

                    <p style="color: #444444">Copyright ©2018 BabyBellyFitness.<br> Alle Rechte vorbehalten.</p>

                </div>

            </div>
        </div>

    </div>

</footer><!-- #footer end -->