<header id="header"  class="transparent-header full-header dark" data-sticky-class="dark">

    <div id="header-wrap">

        <div class="container clearfix">

            <div id="primary-menu-trigger"><i class="icon-reorder kenny-se"></i></div>

            <div id="logo">
                <a href="/" class="standard-logo" data-dark-logo="/img/logo.png">
                    <img src="/img/logo.png" alt="Canvas Logo">
                </a>
                <a href="/" class="retina-logo" data-dark-logo="/img/logo.png">
                    <img src="/img/logo.png" alt="Canvas Logo">
                </a>
            </div>

            <nav id="primary-menu" class="style-4">

                <ul>

                    <li>
                        <a class="bruce img-ipad-pro " href="/you-get" style="color: white; font-size: 11px; font-weight: lighter"><div>Das bekommst du</div></a>
                    </li>
                    <li>
                        <a class="bruce img-ipad-pro " href="https://private.babybellyfitness.de/signup/plans" style="color: white;font-size: 11px;font-weight: lighter"><div>Preise</div></a>
                    </li>
                    <li>
                        <a class="bruce img-ipad-pro " href="/how-to" style="color: white;font-size: 11px;font-weight: lighter"><div>So geht´s</div></a>
                    </li>
                    <li>
                        <a href="/private/signup/plans')}}" style="background-color: #FF004B; color: white;font-size: 11px;font-weight: lighter" class="button button-3d-ser bruce img-ipad-pro " data-class-lg="button-normal" data-class-md="button-normal" data-class-sm="button-large" data-class-xs="button-large" data-class-xxs="button-large">Jetzt loslegen!</a>
                    </li>
                    <li>
                        <a href="/private/login"  style="background-color: transparent; color: white;border: solid; border-width: 1px; border-color: #AE9A64; font-size: 11px;font-weight: lighter" class="button-login button button-3d bruce img-ipad-pro" data-class-lg="button-normal" data-class-md="button-normal" data-class-sm="button-large" data-class-xs="button-large" data-class-xxs="button-large">Einloggen</a>
                    </li>

                </ul>

                <ul class="mobile-primary-menu" >
                    <li class="mobile-anpassung "><a class="bruce" href="/you-get" style="color: white; font-weight: lighter"><div>Das bekommst du</div></a>
                    </li>
                    <li class="mobile-anpassung " style="border-color: #AE9A64;"><a class="bruce" href="/private/signup/plans" style="color: white; font-weight: lighter"><div>Preise</div></a>
                    </li>
                    <li class="mobile-anpassung "><a class="bruce" href="/how-to" style="color: white; font-weight: lighter"><div>So geht´s</div></a>
                    </li>
                    <li>
                        <a class="bruce" href="/private/signup/plans')}}" style="color: #FF004B; font-weight: lighter">Jetzt loslegen</a>
                    </li>
                </ul>

                <div id="top-cart" class="manuel-seryan3" style="display: none;">
                    <a href="/private/login"  style="background-color: transparent; color: white;border: solid; border-width: 1px; border-color: #AE9A64;position: relative;top: -26px; left: 30px;font-size: 10px;padding: 15px 15px;text-align: center;width: auto; text-orientation: unset;line-height: 0px" class="button-login button button-3d ipad-button" data-class-lg="button-normal" data-class-md="button-normal" data-class-sm="button-large" data-class-xs="button-large" data-class-xxs="button-large">Einloggen</a>
                </div>

            </nav><!-- #primary-menu end -->

        </div>

    </div>

</header><!-- #header end -->